/*Área de Login*/

/*muda o fundo da área de login*/
#validationimage{
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: table;
}

/*Imagem da area de Login*/

#imglogin{
    width: 30%;
    height: 40px;
    margin-left: 36%;
    margin-top: 70px;
}

#imglogin img{
    width: 26%;
    height: 300px;
}


#imgM img{
    width: 40px;
    height: 35px;
    margin-left: 35%;
    padding: 0;
}


#imgM{
    float: left;
    margin-left: 4%;
    margin-top: -3px;
}

/*Bloco preto transparente onde fica o login e senha na Área de Login*/
#bloco{
    width: 650px;
    margin-top: 260px;
    margin-left: 80%;
    background-color: black;
    opacity: 0.8;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}
#bloco h5{
    color: white;
    font-family: arial;
    font-weight: lighter;
    text-align: center;
}

/*Botão Entrar na Área de Login*/
#btn{
    padding: 5px;
    width: 110px;
    height: 40px;
    background-color: black;
    margin-left: 30%;
    margin-top: 15px;
    border-radius: 30px;
}
#btn h5{
    color: white;
}

#btn a{
    text-decoration: none;
    font-weight: bolder;
}

#btn a h5:hover{
    color: #0069d9; 
}
/* -----------------Fim da Área de Login---------------- */

/*Barra de acesso ao site*/
#barra{
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: black;
    padding-top: 6px;
    font-size: 19px;
}

#barra ul{
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    height: 50px;
    margin-left: 11%;

}

#barra li{
    display: inline-block;
    line-height: 50px;
    font-size: 18px;
    font-weight: 100;
    margin-left: 6%;
    margin-top: 0px;
    padding-top: 5px;
}

#barra a{
    text-decoration: none;
}

a:link{
    color: white;
}

a:hover{
    color: #0069d9;
}
/* ----------------Fim da Barra de Acesso------------------------ */

/*Pega todo o site até o Aplicativo*/
#content1{
    padding: 0;
}

#content1 img{
    margin-top: 50px;
    width: 100%;
    height: 100%;

}

/*IDs dentro da Barra de Acesso */

#b1 h4{
    color: #ffffff;
    font-family: arial bold;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 33%;
}


#boxLogoIndex{
    width: 100%;        /*Box da imagem home*/
    height: 630px;
    float: left;
}

#boxLogoIndex img{
    width: 100%;
    height: 100%;    /*Box da imagem home (imagem)*/
    margin-top: 50px;
    float: left;
}

/*quem somos*/
#b1{
    background-image: url(../img/iconcamera.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;                             
    display: table;
    padding-top: 15px;
    padding-bottom: 10px;
}


#b1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: black;
    text-align: center;
}

#textb1{
    margin-top: 100px;
    margin-left: 9%;
    height: 500px;
    width: 85%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;

    padding-right: 50px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
}
/* -----------------Fim do Quem Somos --------------------- */

/* serviços*/
#b2{
    background-color: #d2d2d2;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;                         
    display: table;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-top: 5px;
}

#b2 h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
}

#miniatura1{
    width: 23%;
    height: 320px;
    display: inline-block;
    margin-top: 30px;
    margin-right:0.7%;
    margin-left: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; 
}
#miniatura2{
    width: 23%;
    height: 320px;
    display: inline-block;
    margin-top: 30px;
    margin-right:0.7%;

    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; 
}
#miniatura3{
    width: 23%;
    height: 320px;
    display: inline-block;
    margin-top: 30px;
    margin-right:0.7%;

    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; 
}
#miniatura4{
    width: 23%;
    height: 320px;
    display: inline-block;
    margin-top: 30px;
    margin-right:0.7%;

    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; 
}

.miniatura a{
    text-decoration:  none;
}

.blackbox{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
}

.blackbox:hover{
    opacity: 0.8;
}

.blackbox-text{
    text-align: center;
}

.blackbox-text p{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

#b2 .conteudoservicos p{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

#b2 .conteudoservicos h3{
    font-size: 22px;
    color: #0069d9;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;

}

#b2 .conteudoservicos{
    text-align: justify;
    margin-top: 10px;
    margin-left: 10px;
    height: 720px;
    width: 100%;
    background-color: rgba(0,0,0, 0.9);
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 55px;
    padding-right: 50px;
    border-width: 5px;
}
/* ---------------Fim do Serviços ------------------------------------- */

/*aplicativo*/
#aplicativo{
    background-image: url(../img/fundo.jpg);
    height: 800px;
    background-position: center;
    background-size: cover; 

    padding-top: 40px;

    margin-top: 5px;
}

#aplicativo h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
}

#appimage{
    width: 50%;
    height: 600px;
    margin-left: 25%;
}
/* ---------------Fim do Aplicativo ------------------ */

/*Rodapé*/
#rodape{
    width: 100%;
    height: 200px;
    background-color: black;
    float: left;

}

#imgrodape img{
    width: 18%;
    height: 200px;
    float: left;
}

#iconrodape img{
    width: 5%;
    height: 50px;
    float: right;
    margin-top: 80px;
    margin-right: 50px;
}

#contato{
    float: left;
    margin-top: 50px;
    margin-bottom: 10px;
}

#contato p{
    font-family: 'Raleway', sans-serif;
    color: #999999;
    font-size: 20px;
    line-height: 15px;
}

/* ---------Fim do Rodapé---------------- */

#SubTitulo{
    width: 100%;
    height: 100px;

    float: left;
    margin-top: 70px;
}

#logoArea{
    width: 30%;
    height: 300px;
    margin-top: 70px;
    margin-right: 20%;
    float: right;
}
#assistencia{
    width: 40%;
    height: 300px;
    margin-top: 70px;
    margin-left: 7%;
    float: left;

}
#assistencia img{
    width: 100%;
    height: 350px;
    float: left;  
}

#logoArea img{
    width: 100%;
    height: 300px;
    float: left;
}

#d1{
    width: 25%;
    height: 200px;
    float: left;
    background-color: black;
    border: 3px solid #ffffff;
    border-radius: 15px;
    margin-top: 45px;
    filter:alpha(opacity=10);
    opacity: 0.8;
}
#d1 img{
    width: 56%;
    height: 143px;
    margin-left: 20%;
    margin-top: 15px;

}
#d2{
    width: 25%;
    height: 200px;
    float: left;
    background-color: black;
    border: 3px solid #ffffff;
    border-radius: 15px;
    margin-top: 45px;
    filter:alpha(opacity=10);
    opacity: 0.8;
}
#d2 img{
    width: 75%;
    height: 170px;
    margin-left: 10%;
    margin-top:0px;

}
#d3{
    width: 25%;
    height: 200px;
    float: left;
    background-color: black;
    border: 3px solid #ffffff;
    border-radius: 15px;
    margin-top: 45px;
    filter:alpha(opacity=10);
    opacity: 0.8;
}
#d3 img{                                /*------------------------------------------------------------------*/
    width: 64%;
    height: 150px;
    margin-left: 7%;
    margin-top:25px;

}
#d4{
    width: 25%;
    height: 200px;
    float: left;
    background-color: black;
    border: 3px solid #ffffff;
    border-radius: 15px;
    margin-top: 45px;
    filter:alpha(opacity=10);
    opacity: 0.8;
}
#d4 img{
    width: 58%;
    height: 143px;
    margin-left: 2%;
    margin-top:15px;

}
#fundo{
    width: 100%;
    height: 720px;
    background-image: url("../img/fundo.jpg");
}

#opc1{
    width: 50%;
    height: 60px;
    float: left;
    margin-left: 24%;
    background-color: black;
    border: 3px solid #ffffff;
    border-radius: 15px;
    margin-top: 45px;
    filter:alpha(opacity=10);
    opacity: 0.8;
}

#opc2{
    width: 50%;
    height: 60px;
    float: right;
    margin-left: 24%;
    background-color: black;
    border: 3px solid #ffffff;
    border-radius: 15px;
    margin-top: 45px;
    filter:alpha(opacity=10);
    opacity: 0.8;
}
#espaco{
    margin-top: 35px;
}

#campo{
    width: 70%;
    height: 250px;
    float: left;
    margin-left: 16%;
    margin-top: 10px;
    border-radius: 8px;
}

#barra .threeline{
    display: none;
    color: white;

}

#barra li.threeline:hover{
    color: #1789FC;
    cursor: pointer;

}

@media screen and (max-width: 768px){ 

    #miniatura1{
        width: 46%;
        height: 320px;
        display: inline-block;
        margin-top: 30px;
        margin-right:0.7%;
        margin-left: 2%;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden; 
    }
    #miniatura2{
        width: 46%;
        height: 320px;
        display: inline-block;
        margin-top: 30px;
        margin-right:0.7%;

        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden; 
    }
    #miniatura3{
        width: 46%;
        height: 320px;
        display: inline-block;
        margin-top: 10px;
        margin-left: 2%;

        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden; 
    }
    #miniatura4{
        width: 46%;
        height: 320px;
        display: inline-block;
        margin-top: 10px;


        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden; 
    }

    #aplicativo{
        background-image: url(../img/fundo.jpg);
        height: 570px;
        background-position: center;
        background-size: cover; 

        padding-top: 40px;

        margin-top: 5px;
    }

    #appimage{
        width: 50%;
        height: 400px;
        margin-left: 25%;
    }

    #b2 .conteudoservicos p{
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 0.8em;
    }

    #boxLogoIndex{
        width: 100%;        /*Box da imagem home*/
        height: 400px;
        float: left;
    }

    #boxLogoIndex img{
        width: 100%;
        height: 100%;    /*Box da imagem home (imagem)*/
        margin-top: 50px;
        float: left;
    }

    #b1 p{
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        color: black;
        margin-left: 9%;
        text-align: center;
    }

    #d1{
        width: 48%;
        height: 200px;
        float: left;
        background-color: black;
        border: 3px solid #ffffff;
        border-radius: 15px;
        margin-top: 45px;
        margin-left: 2%;
        filter:alpha(opacity=10);
        opacity: 0.8;
    }

    #d2{
        width: 48%;
        height: 200px;
        float: right;
        background-color: black;
        border: 3px solid #ffffff;
        border-radius: 15px;
        margin-top: 45px;
        filter:alpha(opacity=10);
        opacity: 0.8;
    }

    #d3{
        width: 48%;
        height: 200px;
        float: left;
        background-color: black;
        border: 3px solid #ffffff;
        border-radius: 15px;
        margin-top: 45px;
        margin-left: 2%;
        filter:alpha(opacity=10);
        opacity: 0.8;
    }

    #d4{
        width: 48%;
        height: 200px;
        float: right;
        background-color: black;
        border: 3px solid #ffffff;
        border-radius: 15px;
        margin-top: 45px;
        filter:alpha(opacity=10);
        opacity: 0.8;
    }

    #assistencia{
        display: none;
    }

    #logoArea{
        width: 100%;
        height: 300px;
        margin-top: 70px;
        margin-right: 20%;
        float: right;
    }

    #logoArea img{
        width: 65%;
        height: 300px;
        margin-left: 37%;
        float: left;
    }

    #contato{
        float: left;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #contato p{
        font-family: 'Raleway', sans-serif;
        color: #999999;
        font-size: 13px;
        line-height: 12px;
    }

    #imgrodape img{
        width: 18%;
        height: 100px;
        margin-top: 20px;
        float: left;
    }

    #rodape{
        width: 100%;
        height: 150px;
        background-color: black;
        float: left;

    }

    #fundo{
        width: 100%;
        height: 1000px;
        background-image: url("../img/fundo.jpg");
    }

    #iconrodape img{
        width: 5%;
        height: 35px;
        float: right;
        margin-top: 80px;
        margin-right: 50px;
    }

    #validationimage{
        width: 100%;
    }

    imgM{
        height: 30px;
        width: 5%;
        float: left;
        margin-top: -10px;
    }

    #imgM img{
        height: 30px;
        float: left;
        margin-left: 51%;
        margin-top: -40px;
    }

    #bloco{
        width: 400px;
        margin-left: 210px;
        margin-top: 300px;
        padding-left: 10px;
    }

    #bloco h5{
        font-size: 13px;
    }

    #barra ul{
        margin-top: 0;
        list-style: none;
        padding-left: 0;
        height: 50px;

    }

    #barra li{
        display: none;
    }

    #barra li.threeline{
        display: block;
        color: white;
        padding-top: 0;
    }

    .menujs{
        height: auto;
    }

    .menujs ul{
        height: auto;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
    }

    .menujs li{
        display: block;
        border-bottom: solid grey 1px;
        width: 100%;
        padding: 5px;
        background-color: rgba(0,0,0, 0.9);
    }

}

/*------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 481px){

    #imgM img{
        width: 11%;
    }

    #miniatura1{
        width: 46%;
        height: 160px;
        display: inline-block;
        margin-top: 30px;
        margin-right:0.7%;
        margin-left: 2%;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden; 
    }
    #miniatura2{
        width: 46%;
        height: 160px;
        display: inline-block;
        margin-top: 30px;
        margin-right:0.7%;

        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden; 
    }
    #miniatura3{
        width: 46%;
        height: 160px;
        display: inline-block;
        margin-top: 5px;
        margin-left: 2%;

        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden; 
    }
    #miniatura4{
        width: 46%;
        height: 160px;
        display: inline-block;
        margin-top: 5px;
        margin-left: 2%;

        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden; 
    }

    #aplicativo{
        background-image: url(../img/fundo.jpg);
        height: 365px;
        background-position: center;
        background-size: cover; 

        padding-top: 40px;

        margin-top: 5px;
    }

    #appimage{
        width: 50%;
        height: 200px;
        margin-left: 25%;
    }

    #b2 .conteudoservicos p{
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 0.6em;
    }

    #boxLogoIndex{
        width: 100%;        /*Box da imagem home*/
        height: 200px;
        float: left;
    }

    #boxLogoIndex img{
        width: 100%;
        height: 100%;    /*Box da imagem home (imagem)*/
        margin-top: 50px;
        float: left;
    }

    #b1 p{
        font-family: 'Raleway', sans-serif;
        font-size: 0.7em;
        color: black;
        margin-left: 9%;
        text-align: center;
    }

    #d1{
        width: 43%;
        height: 140px;
        float: left;
        background-color: black;
        border: 3px solid #ffffff;
        border-radius: 15px;
        margin-top: 3px;

        filter:alpha(opacity=10);
        opacity: 0.8;
    }
    #d1 img{
        width: 56%;
        height: 100px;
        margin-left: 20%;
        margin-top: 15px;

    }

    #d2{
        width: 43%;
        height: 140px;
        float: left;
        background-color: black;
        border: 3px solid #ffffff;
        border-radius: 15px;
        margin-top: 3px;
        filter:alpha(opacity=10);
        opacity: 0.8;
    }

    #d2 img{
        width: 75%;
        height: 110px;
        margin-left: 17%;
        margin-top:0px;

    }

    #d3{
        width: 43%;
        height: 140px;
        float: left;
        background-color: black;
        border: 3px solid #ffffff;
        border-radius: 15px;
        margin-top: 1px;
        margin-left: 8px;
        filter:alpha(opacity=10);
        opacity: 0.8;
    }

    #d3 img{
        width: 63%;
        height: 110px;
        margin-left: 5%;
        margin-top:3px;

    }

    #d4{
        width: 43%;
        height: 140px;
        float: left;
        background-color: black;
        border: 3px solid #ffffff;
        border-radius: 10px;
        margin-top: 1px;
        filter:alpha(opacity=10);
        opacity: 0.8;
    }

    #d4 img{
        width: 63%;
        height: 110px;
        margin-left: 5%;
        margin-top:3px;

    }

    #assistencia{
        display: none;
    }

    #logoArea{
        width: 100%;
        height: 300px;
        margin-top: 70px;
        margin-right: 20%;
        float: right;
    }

    #logoArea img{
        width: 65%;
        height: 250px;
        margin-left: 32%;
        margin-top: 20px;
        float: left;
    }

    #contato{
        float: left;
        margin-top: 26px;
        margin-bottom: 10px;
    }

    #contato p{
        font-family: 'Raleway', sans-serif;
        color: #999999;
        font-size: 8px;
        line-height: 8px;
    }

    #imgrodape img{
        width: 18%;
        height: 70px;
        margin-top: 23px;
        float: left;
    }

    #rodape{
        width: 100%;
        height: 150px;
        background-color: black;
        float: left;
        margin-top: 20px;
    }

    #fundo{
        width: 100%;
        height: 800px;
        background-image: url("../img/fundo.jpg");
    }

    #imgrodape{
        margin-top: 10px;
    }

    #iconrodape img{
        width: 5%;
        height: 20px;
        float: right;
        margin-top: 50px;
        margin-right: 50px;
    }

    #barra li{
        display: none;
    }

    #barra li.threeline{
        display: inline-block;


    }

    .menujs{
        height: auto;
    }

    .menujs ul{
        height: auto;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
    }

    .menujs li{
        display: block;
        border-bottom: solid grey 1px;
        width: 100%;
        padding: 0;
        background-color: rgba(0,0,0, 0.9);
    }

    #validationimage{
        height: 800px;
        width: 100%;
    }

    #imgI{
        height: 20px;
        margin-left: 5px;
        margin-top: -70px;
    }

    #bloco{
        width: 500px;
        margin-left: 125px;
        margin-top: 300px;
        padding-left: 10px;
    }

    #bloco h5{
        font-size: 16px;
    }

}







